<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('partials/head') %>
</head>
<body>
<section class="page-header">	
	<ul class="page-header-ul">
		<li class="page-header-li"> 
  			<a href="/photos" id="page-header-link-photos" class="page-header-link">Photos</a>
  		</li>
  		<li class="page-header-li"> 
  			<a href="/travels" id="page-header-link-travels" class="page-header-link">Travels</a>
  		</li>
  		<li class="page-header-li"> 
  			<a href="/blog" id="page-header-link-blog" class="page-header-link">Blog</a>
  		</li>
  		<li class="page-header-li"> 
  			<a href="/about" id="page-header-link-about" class="page-header-link">About</a>
  		</li>
  	</ul>
</section>

<section class="main-content">
  <%- body %>
</section>
</body>
</html>